<ion-header>
  <ion-toolbar>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <body>
  <div class="footer">
    <div class="inner-footer">
      <div class="footer-items">
        <h1>Dric Website</h1>
        <p>San ka punta</p>
      </div>

      <div class="footer-items">
        <h3>Quick Links</h3>
        <div class="border1"></div> 
          <ul>
            <a href="http://localhost:8100/folder/home"><li>Home</li></a>
            <a href="http://localhost:8100/am"><li>Education</li></a>
            <a href="http://localhost:8100/h"><li>Contact</li></a>
            <a href="http://localhost:8100/i"><li>About me</li></a>
          </ul>
      </div>

      <div class="footer-items">
        <h3>Contact me here</h3>
        <div class="border1"></div>
          <ul>
            <li><ion-icon name="call-outline"></ion-icon> 09954286284</li>
            <li><ion-icon name="mail-unread-outline"></ion-icon> zhandrei1992@gmail.com</li>
          </ul> 
        
          <div class="social-media">
            <h3>Social Media</h3>
         
            <a href="https://www.instagram.com/dricolii/"><i class="fab fa-instagram"><ion-icon name="logo-instagram"></ion-icon></i></a>
            <a href="https://www.facebook.com/xedB20/"><i class="fab fa-facebook"><ion-icon name="logo-facebook"></ion-icon></i></a>
            <a href="#"><i class="fab fa-google-plus-square"><ion-icon name="mail-outline"></ion-icon></i></a>
            
          </div> 
      </div>
    </div>
    
    <div class="footer-bottom">
      Copyright &copy; ZEDRIC G. BUIZA.
    </div>
  </div>
    
  </body>  
</ion-content>
