.footer {
	width: 100%;
	background: #011722;
	display: block;
	
 }

 .inner-footer {
	 width: 95%;
	 margin: auto;
	 padding: 0px 2px;
	 display: flex;
	 flex-wrap: wrap;
	 box-sizing: border-box;
	 justify-content: center;
 }

.footer-items {
	width: 30%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: #fff;
}

.footer-items p {
	font-size: 18px;
	text-align: justify;
	line-height: 25px;
	color: #fff;
}

.footer-items h1 {
	color: rgb(191, 255, 247);
}

.border1 {
	height: 3px;
	width: 70px;
	background: #ff9800;
	color: #ff9800;
	background-color: #ff9800;
	border: 0px;
	
}

ul {
	list-style: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 0.5px;	
 }

ul a {
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}

ul a:hover {
	color: #ff9800;
}

ul li {
	margin: 10px 0;
	height: 25px;
}

li i {
	margin-right: 20px;
}

.social-media {
	width: 100%;
	color: rgb(250, 244, 244);
	text-align: left;
	font-size: 30px;
}

.social-media a {
	text-decoration: none;
}

.social-media i {
    word-spacing: 90%;
	height: 25px;
	width: 25px;
	margin: 20px 10px;
	padding: 5px;
	color: rgb(173, 250, 250);
	transition: 0.5s;
}

.social-media i:hover {
	transform: scale(90);
}

.footer-bottom {
	padding: 10px;
	background: #00121b;
	color: #fff;
	font-size: 15px;
	text-align: center;
	position: relative;
}



@media screen and (max-width: 1275px) {
	.footer-items {
		width: 50%;
	}
}


@media screen and (max-width: 660px) {
	.footer-items {
		width: 100%;
	}
}
.right
{
    float: center;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 0px;
    /*margin-right: -20px;
    margin-left: 14%;*/
    height: auto;
    width: auto;
    background-color: #011722;
    padding-top: 3px;
    padding-bottom: 10%;
    }
	h3
{
    color: #cae5ff;
    text-decoration: underline;
	font-family: serif;
    }
    h4 {
        text-decoration: underline;
        color: #53f3d8;
		font-family: Georgia, 'Times New Roman', Times, serif;
    }
	p
{
        
        color: #a9fafa;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
        font-size: x-large;
        position: relative;
        text-decoration:#000;
}
 p1
{
  color: #e0fafa;
  font-family: cursive;
  font-size: x-large;
  text-align: justify;
}
   
