<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="footer">
    <div class="inner-footer">
      <div class="footer-items">
        <h1>Dric Website</h1>
        <p>I honestly hope you enjoy reading everything about myself.</p>
        <h2>Annyeong :)</h2>
      </div>

      <div class="footer-items">
        <h3>Quick Links</h3>
        <div class="border1"></div> 
          <ul>
            <a href="http://localhost:8100/folder/home"><li>Home</li></a>
            <a href="http://localhost:8100/am"><li>Education</li></a>
            <a href="http://localhost:8100/h"><li>Contact</li></a>
            <a href="http://localhost:8100/i"><li>About me</li></a>
          </ul>
      </div>

      <div class="footer-items">
        <h3>Contact me here</h3>
        <div class="border1"></div>
          <ul>
            <li><ion-icon name="call-outline"></ion-icon> 09954286284</li>
            <li><ion-icon name="mail-unread-outline"></ion-icon> zhandrei1992@gmail.com</li>
          </ul> 
        
          <div class="social-media">
            <h3>Social Media:</h3>
            <a href="https://www.instagram.com/dricolii/"><i class="fab fa-instagram"><ion-icon name="logo-instagram"></ion-icon></i></a>
            <a href="https://www.facebook.com/xedB20/"><i class="fab fa-facebook"><ion-icon name="logo-facebook"></ion-icon></i></a>
            <a href="mailto:zhandrei1992@gmail.com"><i class="fab fa-google-plus-square"><ion-icon name="mail-outline"></ion-icon></i></a>
            
          </div> 
      </div>
    </div>
    <div class="right">
      <div align="center"><h3>Thank you for visiting my website!!!</h3>
      <h4>I have something for ya before you leave my website! please read the quotes.</h4></div>
        <div align="center"><p>Famous Love Quotes</p>
      </div>
      <div align="center"><p1>“You open your heart knowing that there’s a chance it may be broken one day and in opening your heart, 
        you experience a love and joy that you never dreamed possible. 
        You find that being vulnerable is the only way to allow your heart to feel true pleasure that’s so real it scares you. 
        You find strength in knowing you have a true friend and possibly a soul mate who will remain loyal to the end. 
        Life seems completely different, exciting and worthwhile. 
        Your only hope and security is in knowing that they are a part of your life.” – Bob Marley</p1>
      </div>
        </div>
    <div class="footer-bottom">
      Copyright &copy; ZEDRIC G. BUIZA.
    </div>
  </div>
  
</ion-content>
