<ion-header>
  <link type="text/css" rel="stylesheet" href="https://www.dropbox.com/s/trsldt0me90jzs8/resume.css"/>
  <ion-toolbar>
    <ion-title>Education</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <body>
  <div id="header">
    <p id="name">Zedric G. Buiza</p>
             <a href="mailto:zhandrei1992@gmail.com" target="_blank"><p id="email"></p></a>
         </div>
         
         <ion-content>
         <div class="left">
        </div>
         <div class="right">
         <header class="masthead"></header>
         <h3>Education</h3>
         <h4>I studied at Batangas State University-Mabini Campus</h4>
         <p> I currently take my course which is BS information technology at BatState-U Mabini. It is located at P. Niogan Mabini, Batangas.
          Im currently 4th year student in BSU-Mabini campus.
         </p>
         <p> Im also participating in 2 organizations at school, which is the CICS student coucil organization and the other one is Mabini campus committee.
          
         </p>
         <div id="footer"></div>
         </div>
        </ion-content>
  </body>
</ion-content>
