<ion-header>
  <link type="text/css" rel="stylesheet" href="https://www.dropbox.com/s/trsldt0me90jzs8/resume.css"/>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Favorite Kpop Girl Group</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <body>
  <div id="header">
    <p id="name"></p>
             <a href="mailto:zhandrei1992@gmail.com" target="_blank"><p id="email">zhandrei1992@gmail.com</p></a>
         </div>
         <ion-content>
         <div class="blog-card">
          <div class="meta">
            <div class="photo" style="background-image: url(https://assets.teenvogue.com/photos/5f43f54f0ba412c01817638c/master/pass/Style_TWICE_08-24_HEADER.jpg)"></div>
          </div>
        </div>
        <div class="right">
          <h3>Twice</h3>
          <h4>트와이스</h4>
          <h5> Twice is a South Korean girl group formed by JYP Entertainment. The group is composed of nine members: Nayeon, Jeongyeon, Momo, Sana, Jihyo, Mina, Dahyun, Chaeyoung, and Tzuyu. Twice was formed under the television program Sixteen and debuted on October 20, 2015, with the extended play The Story Begins.
          </h5>
          <div id="footer"></div>
          </div>
          <div class="blog-card">
            <div class="meta">
              <div class="photo" style="background-image: url(https://lh3.googleusercontent.com/cvf2TCeqzXlIu5qw9IVhMi0A_0AUZbjbiCFm_h57uPMC0cxJwocmaCAuy6ryQ2HOkPrLRQaJvE1cZNzb=w2880-h1200-p-l90-rj)"></div>
            </div>
            </div>
           <div class="right">
          <h3>Blackpink</h3>
            <h4>블랙핑크</h4>
              <p>Blackpink is a South Korean girl group formed by YG Entertainment, consisting of members Jisoo, Jennie, Rosé, and Lisa.
              </p>
              <div id="footer"></div>
              </div>
              <div class="blog-card">
                <div class="meta">
                  <div class="photo" style="background-image: url(https://imgsrv2.voi.id/_M2Hhqxa72u7ZSL1YQzDDl3FlD1YPaph7fpH3JBbtSc/auto/1200/675/sm/1/bG9jYWw6Ly8vcHVibGlzaGVycy83NTcyNy8yMDIxMDgxMzE2MzQtbWFpbi5jcm9wcGVkXzE2Mjg4NDcyODUuanBn.jpg)"></div>
                </div>
                </div>
               <div class="left">
              <h3>ITZY</h3>
                <h4>있지</h4>
                  <p> Itzy is a South Korean girl group formed by JYP Entertainment and consisting of members Yeji, Lia, Ryujin, Chaeryeong, and Yuna. They debuted on February 12, 2019, with the release of their single album It'z Different.
                  </p>
                  <div id="footer"></div>
                  </div>
      </ion-content>
        
  </body>
</ion-content>

