<ion-header>
  <link type="text/css" rel="stylesheet" href="https://www.dropbox.com/s/trsldt0me90jzs8/resume.css"/>
  <ion-toolbar>
    <ion-title>About Me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <body>
  <div id="header">
    <p id="name">Zedric G. Buiza</p>
             <a href="mailto:zhandrei1992@gmail.com" target="_blank"><p id="email"></p></a>
         </div>
         
         <ion-content>
         <div class="img"> <img src="assets/Zed.png">
         </div>
         <div class="left">
     </div>
         <div class="right">
         <h3>About Myself</h3>
         <h4>안녕하세요 여러분!!!</h4>
         <h5> Annyeong! I'm Zedric G. Buiza from Magalang-galang Bauan, Batangas. 
          I'm 22 years old and currently an IT student at Batangas State University - Mabini Campus.
          But first let me introduce myself from where i came from, where i was burn, and how we end up here in batangas.
          I was burn on March 29, 2000 at HULO mandaluyong hospital, but I spend my whole child life in bicol where all people are called oragon.
          Then we came back in manila when i was 8 years because my sister wants finish her study in PUP. Also, I started my school life there in manila
          until grade 4, when I finish my school year in 4th grade of elementary we decided to moved here in batangas it's because our life their in manila was not that good or well.
          Lets say living in manila was very expensive like foods, house rent, etc. Thats the reason why we moved here :)....
         </h5>
         <div id="footer"></div>
         </div>
        </ion-content>
  </body>
</ion-content>
