<ion-header>
  <link type="text/css" rel="stylesheet" href="https://www.dropbox.com/s/trsldt0me90jzs8/resume.css"/>
  <ion-toolbar>
    <ion-title>About Me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <body>
  <div id="header">
    <p id="name">Zedric G. Buiza</p>
             <a href="mailto:zhandrei1992@gmail.com" target="_blank"><p id="email">zhandrei1992@gmail.com</p></a>
         </div>
         
         <ion-content>
         <div class="img"> <img src="assets/Zed.png">
         </div>
         <div class="right">
         <h3>About Myself</h3>
         <h4>Good Day Everyone!!</h4>
         <h5>I am Zedric G. Buiza from Magalang-galang Bauan, Batangas. 
          I'm 22 years old and currently an IT student at Batangas State University - Mabini Campus.
          

         </h5>
         </div>
        </ion-content>
  </body>
</ion-content>
